{{#if this.isCurrentUser}}
  <div class="user-characters-header">
    <h3>My Characters</h3>

    <div class="header-buttons">
      {{#if this.siteSettings.discourse_size_help_url}}
        <DButton
          @href={{this.siteSettings.discourse_size_help_url}}
          @label="discourse_size.help"
          class="btn-default"
        />
      {{/if}}
      {{#if this.currentUser.admin}}
        <DButton
          @action={{this.showAdminModal}}
          @label="discourse_size.admin.title"
          class="btn-default"
        />
      {{/if}}
      <DButton
        @label="discourse_size.shop.visit_shop"
        @href="/size/shop"
        class="btn-default"
      />
      <DButton
        @action={{this.createNewFolder}}
        @icon="plus"
        @label="discourse_size.create_folder"
        class="btn-default"
      />
      <DButton
        @action={{this.createNewCharacter}}
        @icon="plus"
        @label="discourse_size.create_character"
        class="btn-default"
      />
    </div>
  </div>
{{else}}
  <div class="user-characters-header">
    <h3>{{this.user.username}}'s Characters</h3>

    <div class="header-buttons">
      {{#if this.siteSettings.discourse_size_help_url}}
        <DButton
          @href={{this.siteSettings.discourse_size_help_url}}
          @label="discourse_size.help"
          class="btn-default"
        />
      {{/if}}
      <DButton
        @label="discourse_size.shop.visit_shop"
        @href="/size/shop"
        class="btn-default"
      />
      {{#if this.currentUser}}
        <DButton
          @action={{this.openGiftingModal}}
          @icon="gift"
          @label="discourse_size.inventory.gift"
          class="btn-default"
        />
      {{/if}}
      {{#if this.currentUser.admin}}
        <DButton
          @action={{this.showAdminModal}}
          @label="discourse_size.admin.title"
          class="btn-default"
        />
      {{/if}}
    </div>
  </div>
{{/if}}

<div class="user-characters-container">
  {{#if this.mainCharacter}}
    <div class="main-character-section">
      <DiscourseSizeCharacterCard
        @character={{this.mainCharacter}}
        @isCurrentUser={{this.isCurrentUser}}
        @userPoints={{this.currentUser.discourse_size_points}}
        @onDelete={{this.deleteCharacter}}
        @onUpdate={{this.updateCharacter}}
        @onAction={{this.refreshCharacters}}
      />
    </div>
  {{/if}}

  <DiscourseSizeReorderableList
    @enabled={{this.isCurrentUser}}
    @handle=".character-drag-handle, .folder-drag-handle"
    @group="character"
    @onReorder={{this.onCharacterReorder}}
    data-top-level="true"
  >
    {{#each this.combinedTopLevelList key="id" as |item|}}
      <div class="reorderable-item" data-id={{item.id}} data-type={{item.type}}>
        {{#if (eq item.type "character")}}
          <DiscourseSizeCharacterCard
            @character={{item}}
            @isCurrentUser={{this.isCurrentUser}}
            @userPoints={{this.currentUser.discourse_size_points}}
            @onDelete={{this.deleteCharacter}}
            @onUpdate={{this.updateCharacter}}
            @onAction={{this.refreshCharacters}}
            @showReorderHandle={{this.isCurrentUser}}
          />
        {{else}}
          <DiscourseSizeFolder
            @folder={{item}}
            @isCurrentUser={{this.isCurrentUser}}
            @onEdit={{fn this.editFolder item}}
            @characterCount={{get this.organizedCharacterCounts item.id}}
          >
            <DiscourseSizeReorderableList
              @enabled={{this.isCurrentUser}}
              @handle=".character-drag-handle"
              @group="character"
              @onReorder={{this.onCharacterReorder}}
              data-folder-id={{item.id}}
            >
              {{#each
                (get this.organizedCharacters item.id) key="id"
                as |character|
              }}
                <div
                  class="reorderable-item"
                  data-id={{character.id}}
                  data-type="character"
                >
                  <DiscourseSizeCharacterCard
                    @character={{character}}
                    @isCurrentUser={{this.isCurrentUser}}
                    @userPoints={{this.currentUser.discourse_size_points}}
                    @onDelete={{this.deleteCharacter}}
                    @onUpdate={{this.updateCharacter}}
                    @onAction={{this.refreshCharacters}}
                    @showReorderHandle={{this.isCurrentUser}}
                  />
                </div>
              {{/each}}
            </DiscourseSizeReorderableList>
          </DiscourseSizeFolder>
        {{/if}}
      </div>
    {{/each}}
  </DiscourseSizeReorderableList>

  {{#unless this.characters.length}}
    <p>No characters found.</p>
  {{/unless}}
</div>