<DModal
  @title="Admin Edit Character"
  @closeModal={{@closeModal}}
  class="discourse-size-edit-character-modal"
>
  <:body>
    <div class="control-group">
      <label>Base Size</label>
      <span class="instructions">The starting size of the character.</span>
      <div class="size-input-wrapper">
        <Input @type="number" @value={{this.displayBaseSize}} step="0.0001" />
        <select
          class="size-unit-selector"
          {{on "change" (action "onBaseSizeUnitChange" value="target.value")}}
        >
          {{#each this.units as |unit|}}
            <option value={{unit.id}} selected={{eq this.baseSizeUnit unit.id}}>
              {{unit.name}}
            </option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="control-group">
      <label>Override Current Size</label>
      <span class="instructions">Directly teleport the character to this size.</span>
      <div class="size-input-wrapper">
        <Input @type="number" @value={{this.displaySize}} step="0.0001" />
        <select
          class="size-unit-selector"
          {{on "change" (action "onUnitChange" value="target.value")}}
        >
          {{#each this.units as |unit|}}
            <option value={{unit.id}} selected={{eq this.sizeUnit unit.id}}>
              {{unit.name}}
            </option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="control-group">
      <label>Growth Rate Override (%/day)</label>
      <span class="instructions">Max speed this character can grow. Leave blank
        for site default.</span>
      <Input @type="number" @value={{this.growthRateOverride}} step="0.1" />
    </div>
  </:body>
  <:footer>
    <DButton
      @action={{this.save}}
      @label="save"
      @disabled={{this.isSaving}}
      class="btn-primary"
    />
    <DButton @action={{@closeModal}} @label="cancel" class="btn-default" />
  </:footer>
</DModal>