<DModal
  @title="Admin Edit Character"
  @closeModal={{@closeModal}}
  class="discourse-size-edit-character-modal"
>
  <:body>
    <div class="control-group">
      <label>Override Current Size</label>
      <span class="instructions">Directly teleport the character to this size.</span>
      <div class="size-input-wrapper">
        <Input @type="number" @value={{this.displaySize}} step="0.0001" />
        <select
          class="size-unit-selector"
          {{on "change" (action "onUnitChange" value="target.value")}}
        >
          {{#each this.units as |unit|}}
            <option value={{unit.id}} selected={{eq this.sizeUnit unit.id}}>
              {{unit.name}}
            </option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <DButton
        @action={{this.syncWithHistory}}
        @label="discourse_size.admin.sync_with_history"
        @disabled={{this.isSaving}}
        class="btn-default"
      />
      <span class="instructions">Teleport to the final size calculated from the activity log.</span>
    </div>

    <hr />

    <div class="control-group checkbox-group">
      <label>
        <Input @type="checkbox" @checked={{this.siteSink}} />
        {{i18n "discourse_size.admin.site_sink"}}
      </label>
      <span class="instructions">
        {{i18n "discourse_size.admin.site_sink_help"}}
      </span>
    </div>
  </:body>
  <:footer>
    <DButton
      @action={{this.save}}
      @label="save"
      @disabled={{this.isSaving}}
      class="btn-primary"
    />
    <DButton @action={{@closeModal}} @label="cancel" class="btn-default" />
  </:footer>
</DModal>